/* *{
  background-color: black;
} */
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.ff{
  color : 'blue';
}
.gotu-regular {
  font-family: "Gotu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bgt{
  background-image: url('./images/chess_image5.jpg');
  width : 200px;
  height : 200px;
}